In [4]:
import pandas as pd

aula = pd.read_csv("data/aula01.csv",sep=";")
aula.head()

  montante   idade salário conta empréstimo
0    médio  sênior   baixo   sim        não
1    médio  sênior   baixo   não        não
2    baixo  sênior   baixo   sim        sim
3     alto   média   baixo   sim        sim
4     alto   jovem    alto   sim        sim