A partir do conjunto de treinamento da base de dados `Letras`, cuja classe pode possuir um dos dois valores (sim ou não), faça o que se pede:
- Construa a árvore de decisão com o algoritmo ID3. Deve-se criar uma planilha eletrônica para realizar os cálculos da entropia, do ganho esperado e do ganho de informação;
- Classifica as instâncias do conjunto de teste em um dos dois possíveis valores da classe a partir da árvore de decisão criada anteriormente (modelo).
Enviar como anexo nesta atividade:
- Árvore construída e a planilha eletrônica com os cálculos;
- Instâncias de teste classificadas a partir do modelo construído.

In [57]:
#importando as classes necessarias
import pandas as pd
import numpy as np
import math

#Matrz de teste
df = pd.read_csv("data/aula01.csv",sep=";")
df.head()

  montante   idade salário conta empréstimo
0    médio  sênior   baixo   sim        não
1    médio  sênior   baixo   não        não
2    baixo  sênior   baixo   sim        sim
3     alto   média   baixo   sim        sim
4     alto   jovem    alto   sim        sim

### Calculando a entropia
Para calcular a entropia precisamos de uma coluna precisamos compara-la com de classe (no caso empréstimo) e retornar suas recorrências.

In [109]:
sub_df = df[['montante','empréstimo']].groupby(['montante','empréstimo']).size().reset_index().rename(columns={0: 'contagem'})
sub_df

  montante empréstimo  contagem
0     alto        não         2
1     alto        sim         3
2    baixo        sim         4
3    médio        não         3
4    médio        sim         2

em seguida vamos criar uma função que define a entropia

In [170]:

def get_entropy(x):
    count_list = x['contagem'].values
    total = count_list.sum()
    result = 0
    for count in count_list:
        if(count > 0):
            temp = count/total * np.log2(count/total) * -1
            result = result+temp
    return result

e agora filtar a coluna de acordo a função

In [204]:
entropy_df = sub_df.groupby(['montante']).apply(lambda x: get_entropy(x)).reset_index()
entropy_df.rename(columns={0: 'entropia'})

  montante  entropia
0     alto  0.970951
1    baixo  0.000000
2    médio  0.970951

### Calcular o ganho
vamos precisar novamente calcular a entropia mas desta vez considerando o valor total da tabela

In [222]:

def get_gain(x):
    sub_total = x['contagem'].values.sum()
    total = sub_df["contagem"].sum()
    entropy = get_entropy(x)
    return sub_total/total * entropy

vamos aplicar a função de forma semelhante ao de entropia:

In [223]:
total_entropy_df = sub_df.groupby(['montante']).apply(lambda x: get_gain(x)).reset_index()
total_entropy_df = total_entropy_df.rename(columns={0: 'entropia'})
total_entropy_df

  montante  entropia
0     alto  0.346768
1    baixo  0.000000
2    médio  0.346768

por fim podemos calcular o ganho total

In [221]:
total_entropy_df['entropia'].sum()

0.6935361388961918